/* contenedor */
.admin-profile{
margin:1rem;
padding: 0;
/* background-color:#000000cc; */
display: flex;
flex-direction: column;
width: 100%;
height:100vh;
}
/* superior */
.admin-profile-top{
    /* background-color:#d445453f; */
    position: relative;
    top: -9rem;
    display: flex;
    justify-content:space-around;
    align-items:center;
    height:15rem;

}
.admin-profile-top-info{
    /* background-color:#000000bc; */
    display: flex;
    justify-content:space-around;
    position: relative;
    width: 18rem;
    top:5rem;
    height:5rem;
}
.admin-profile-top-info > div > h5 {
    color: #554a4ab7;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.admin-profile-top-info-butt{
    background-color: #91b7fd73;
    color: #1d3fffe8;
    border: none;
    border-radius:0.3rem;
    display: flex;
    align-items:center;
}
.admin-profile-top-info > img{
    background-color: #83cdf8a8;
    border-radius:100%;
    margin-left: 1rem;
    width:5rem;
    height:5rem;
}
/* inferior */
.admin-profile-bot{
    /* background-color:#d62f2f; */
    display:flex;
    margin-top: -8rem;
    width: 100%;
    height: 100%;
    
}
/* primera mitad */
.admin-boxOne{
    width:70%;
    height:100%;
    /* background-color:#be82af; */
}
.admin-info{
    width:85%;
    height:50%;
    position: relative;
    margin-left: 7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    /* background-color:#dad488; */
    border-radius:0.3rem;
}
.admin-info-at{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5rem;
    
    
    
}
.admin-info-at > h4{
    color: #00000063;

}
.admin-info-at > b{
    margin-top:1.5rem;
    margin-left: 3rem;
    color: rgba(0, 0, 0, 0.746);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    
}
.admin-box{
    display: flex;
    /* justify-content: space-around; */
    margin-left: 5rem;
    width:90%;
    height:45%;
    /* background-color:red; */
}
.admin-box > section> b{
    color: #00000063;
}
.admin-box-at{
    margin: 1rem;
    margin-left: 2rem;
    /* background-color:#00000063; */
    width: 100%;
    height:95%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    border-radius:0.3rem;
}
/* segunda mitad */
.admin-boxTwo {
    /* background-color:#382bf6; */
    position: relative;
    top:2rem;
    width: 30%;
    height:100%;
}
.admin-boxTwo > section{
    /* background-color:#756de4; */
    width: 90%;
    height: 90.7%;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    border-radius:0.3rem;
    color: #00000063;
}
.select_option{
    background-color:transparent;
    border-radius: 0.2rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    color: #00000063;
    font-weight: bold;
}