.home {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 10%;
}

.galleryGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  padding-top: 2rem;
  padding-bottom: 40px;
}


.home--validation{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}
.home--notfound{
  box-sizing: border-box;
  padding-top: 5rem;
  width: 500px
}
