.contenedor{
    width: 80%;
    display: flex;
    margin-left:70px;
    position: absolute;
    top: 50px;
    left: 100px;
    font-family: 'Secular One';
    
}
.contenedor__content{
    
    width:40%;
}
.contenedor_logo {
    display: flex;
    font-size: 18px;
    
}
.contenedor_logo > img{
    margin:0;
}
.contenedor_logo > div{
    
    position: relative;
    top: 14px;
    font-family: impact;
    color: #000000a8
    
}
.contenedor_submit{
    display: flex;
    flex-direction: column;
}
/* .div_log{
    display: flex;
} */
.boton_log{
    font-size:18px;
    background-color:#1877F2;
    color:white;
    height:30px;
    width: 20%;
    padding:3px;
    border-radius:5px;
    border:none;
    margin: 20px;
    display:  inline-flex;
    justify-content: center;
}

.boton_log:hover{
    border: none;
}
.bott_google{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    
}
.log_Bix{
    font-size:30px;
}
.img_page{
    width:60%;
    margin-top: 10.8rem;
}

input{
    border: 3px solid rgba(255, 255, 255, 0.623);;
    margin-top: 15px;
    width: 100%;
    height:30px;
    font-size:18px;
    display: flex;
    
    
}
input:focus{
    outline: none
}
input::placeholder{
   color: rgba(0, 0, 0, 0.787); 
   font-weight: bold ;
}
input:hover{
    border: 3px solid rgba(58, 150, 255, 0.746);
    border-radius:5px
}
h1{
    color: #787878;
    display: flex;
    margin-top: 10rem;
}
h4 > a{
    color: #7E90FF;
    font-family: 'Poppins';
    font-size:18px;
    display: flex;
    justify-content: flex-end;
}
a {
    text-decoration: none;
    color: #000000;
    margin-top: 4rem;
    
}
