.resetpaswordpost {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(74, 74, 184);
  max-width: 40%;
  min-width: 300px;
  margin-top: 10%;
  margin-left: 30%;
  padding: 60px;
  color: gray;
}
