.container_cards{
   margin-left:10rem;
    width: 85%;
}
.top_cards{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.top_Link{
    background-color: #7696ff49;
    padding:0.7rem;
    position: relative;
    top: 4rem;
    margin-right:10rem ;
    width: 10rem;
    border-radius:0.5rem;
    
}

.top_Link > a{
    color: rgb(64, 115, 255);

}