.categories {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.categories__button {
  padding: 0;
  border: none;
  font: inherit;
  color: gray;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  /* width: 15%; */
  width: 120px;
  height: 40px;
  margin-right: 20px;
  font-weight: bold;
}

.categories__button:focus {
  background-color: #7e91fe;
  color: white;
}
