/* .gallery_card {
  width: 230px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__img {
  width: 230px;
  height: 270px;
} */

.card__img-avatar {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 5px;
}

/* .gallery_card-router {
  color: gray;
  margin: 0px;
}

.gallery_card-title {
  margin-top: 6px;
  font-family: "Poppins";
  color: rgb(104, 103, 103);
  font-weight: bold;
  width: 230px;
  height: 60px;
}

.gallery_card-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
*/
.gallery_card-price {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 15px;
  color: #ffab76;
} 

/*
.gallery_card-functions {
  display: flex;
  width: 25%;
  justify-content: space-between;
  font-size: 21px;
  color: rgb(182, 181, 181);
  cursor: pointer;
} */
