.landing {
  margin-top: 4rem;
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.landing__text--in {
  color: gray;
  font-size: 2em;
  font-family: 'Poppins';
  font-weight: bold;
  width: 350px
}

.image__image{
  width: 25rem;
  height: 300px
}
