.topbar {
  padding: 1rem;
  width: 90%;
  position: fixed;
  background-color: white;
  padding-left: 50px;
  padding-right: 40px;
  box-sizing: border-box;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  z-index: 2;
}

.topbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButtons__button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  margin-left: 2vw;
  border: none;
}

.cart {
  font-weight: bold;
  font-size: 17px;
  margin: 0vw 2vw 0vw 2vw;
}

.cart__content{
  display: flex;
  align-items: center;
}

.cart__icon {
  font-size: 23px;
  margin-right: 3px;
}

.search__input {
  border: none;
  background-color: transparent;
  width: 200px;
  margin: 0px;
  margin-left: 10px;
  font-family: "Poppins";
  color: gray;
  font-weight: 700;
  height: "34px";
  box-shadow: "none";
}

.search__input:hover {
  border: none;
}

.left--content{
  display: flex;
  align-items: center;
}
