.topbar {
  padding: 1rem;
  width: 90%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  background-color: white;
}

.topbar__content {
  display: flex;
  align-items: center;
}

.loginButtons__button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  margin-left: 2vw;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cart {
  color: #9b9b9b;
  font-style: normal;
  font-weight: bold;
  margin: 0vw 2vw 0vw 2vw;
}

.cart__icon {
  margin-right: 0.5vw;
}

.searchForm {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  background: #f8f8f8;
  padding: 0.5vw;
  border-radius: 30px;
}

.search__input {
  border: none;
  background-color: transparent;
  width: 200px;
  margin: 0px;
}

.search__input:hover{
  border: none
  
}