.topbar {
  margin: 0.5vw 3vw 0vw 1vw;
  /* background-color: red; */
  padding: 1vw;
  width: auto;
}

.topbar__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginButtons__button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  margin-left: 2vw;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.loginButtons__button:hover {
  transition: all 2s ease-in-out;
  transform: scale(1.5);
}

.cart {
  color: #9b9b9b;
  font-style: normal;
  font-weight: bold;
  margin: 0vw 2vw 0vw 2vw;
}

.cart__icon {
  margin-right: 0.5vw;
}

.searchForm {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0vw 2vw 0vw 2vw;
  background: #f8f8f8;
  padding: 0.5vw;
  border-radius: 10px;
}

.searchForm__input {
  border: none;
  background: #f8f8f8;
}

.searchForm__input:focus {
  outline: none;
}

.searchForm__icon {
  cursor: pointer;
}
